/*

!.gitignore
!/malhotra_finalproject/
/malhotra_finalproject/*
!/malhotra_finalproject/Assets/
/malhotra_finalproject/Assets/*
!malhotra_finalproject/Assets/Scripts/
/malhotra_finalproject/Assets/Scripts/.meta